div {
  background-image: url(https://www.10wallpaper.com/wallpaper/1366x768/1301/bull_terrier-Cute_animals_wallpaper_1366x768.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  background-attachment: fixed;
}
