/* .divCss {
    background-image: url(https://thumbs.dreamstime.com/b/huellas-de-mascotas-patr%C3%B3n-transparente-fondo-lindo-para-perro-o-gato-cachorro-pie-paro-forma-silueta-negra-mascota-espacio-%E1%B5%89%CA%B3-202216294.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-attachment: fixed;
} */