/* .divCss {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url(https://img.freepik.com/vector-premium/patron-perro-costuras-huellas-pata-huesos-corazones-bolas-textura-pie-gato-patron-perrito_192280-793.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  background-attachment: fixed;
}

body {
  padding: 0;
  margin: 0;
} */
