.imgCard {
  width: 100px;
  height: 100px;
}

.cardCss {
  display: flex;
  border: 1px solid black;
  flex-direction: column;
  flex-wrap: wrap;
  width: fit-content;
  height: fit-content;
  align-items: center;
}
